.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 16px -20px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 -20px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 55px 16px -717px -16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1457px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 40px;
    margin-bottom: -683px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}